<div class="mx-auto mt-5" style="width: 500px;">
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    class="card-img-top" alt="...">
  <form action="/create/short" method="post">
    <div class="card-body">
      <div class="d-flex flex-column">
        <div> Success! Please use this link:</div>
        <div type="textarea" id="shortUrl">{{{shortUrl}}}</div>
        <button type="button" class="btn btn-primary btn-sm w-50 mx-auto mt-2" id="copyButton">Copy</button>
      </div>
    </div>
  </form>
</div>