<div class="mx-auto mt-5" style="width: 500px;">
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    class="card-img-top" alt="...">
  <form action="/create/short" method="post">
    <div class="card-body">
      <div class="d-flex flex-column">
        <label for="fullUrl">Full URL </label>
        <input id="fullUrl" type="text" name="fullUrl" placeholder="請輸入原始網址"></input>
        <button type="submit" class="btn btn-primary btn-sm w-50 mx-auto mt-2">Create</button>
      </div>
    </div>
  </form>
</div>